@page "/add-bill"
@layout MainLayout
@inherits PersonalFinance.Pages.AddBillComponent

@using Radzen
@using Radzen.Blazor
@using PersonalFinance.Models.Sql
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@bill" Visible="@(bill != null)" TItem="PersonalFinance.Models.Sql.Bill" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Name" Component="name" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(bill.name)" Name="Name">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Name" Text="name is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Description" Component="description" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox style="width: 100%" @bind-Value="@(bill.description)" Name="Description">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Payee" Component="payee_id" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getPayeesResult" TextProperty="name" ValueProperty="payee_id" Placeholder="Choose Payee" style="display: block; width: 100%" @bind-Value="@(bill.payee_id)" Name="Payee_id">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="Payee_id" Text="payee_id is required" style="position: absolute" DefaultValue="0">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Category" Component="category_id" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getCategoriesResult" TextProperty="name" ValueProperty="category_id" Placeholder="Choose Category" style="display: block; width: 100%" @bind-Value="@(bill.category_id)" Name="Category_id">
                </RadzenDropDown>
                <RadzenRequiredValidator Component="Category_id" Text="category_id is required" style="position: absolute" DefaultValue="0">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Amount" Component="amount" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@(bill.amount)" Name="Amount">
                </RadzenNumeric>
                <RadzenRequiredValidator Component="Amount" Text="amount is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Due" Component="due" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="MM/dd/yyyy" style="width: 100%" @bind-Value="@(bill.due)" Name="Due">
                </RadzenDatePicker>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Status" Component="status_id" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getStatusesResult" TextProperty="name" ValueProperty="status_id" Placeholder="Choose Status" style="width: 100%" @bind-Value="@(bill.status_id)" Name="Status_id">
                </RadzenDropDown>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
